@font-face {
	font-family: "S-CoreDream-3Light";
	src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

/* https://noonnu.cc/font_page/106 */
@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans:400");

@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
